* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    display: flex;
}
#home {
    background-color: rgb(187, 211, 207);
}
#about {
    background-color: rgb(190, 192, 229);
}
#works{
    background-color: rgb(203, 167, 214);
}
nav ul{
    list-style: none;
    overflow: hidden;
    text-align: center;
}
nav ul li {
    width: 450px;
    height: auto;
    float: left;
}
ul li a {
    display: block;
    text-decoration: none;
    background-color: rgb(182, 194, 130);
    color: rgb(255, 255, 255);
    padding: 15px 0;
}
ul li a:hover {
    background-color: rgb(93, 126, 90);
    transition: 0.5s;
}
